// Primary
$C1_desaturated-red: hsl(0, 36%, 70%);
$C2_soft-red: hsl(0, 93%, 68%);

// Neutral
$C3_dark-grayish-red: hsl(0, 6%, 24%);

// Gradients
$G1_light-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
);
$G2_red-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: $G1_light-gradient;
}

main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 1fr;
}

.logo-container {
    margin-left: 155px;
    margin-top: 66px;
}

.hero {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    width: min(580px, 100%);
    height: 100%;
    background: url("../images/hero-desktop.jpg") no-repeat center / cover;

    justify-self: flex-end;
}

.coming-soon {
    width: 430px;
    margin-left: 155px;
    margin-top: 110px;
}

.coming-soon__title {
    color: $C3_dark-grayish-red;

    font-family: "Josefin Sans", serif;
    font-weight: 500;
    font-size: 66px;

    text-transform: uppercase;

    letter-spacing: 13px;

    span {
        color: $C1_desaturated-red;
        font-weight: 300;
    }
}

.coming-soon__description {
    margin-top: 20px;

    color: $C1_desaturated-red;
    font-family: "Josefin Sans", serif;

    line-height: 25px;
}

form {
    margin-top: 40px;

    .form-group {
        position: relative;
        width: 100%;
        height: 50px;

        .email {
            width: inherit;
            height: inherit;

            font-family: "Josefin Sans", serif;
            font-size: 16px;

            color: $C3_dark-grayish-red;
            border: thin solid $C1_desaturated-red;
            outline: none;
            border-radius: 20px;

            padding-left: 28px;
            padding-right: 150px;
            text-overflow: ellipsis;
            opacity: 0.5;

            &::placeholder {
                color: $C1_desaturated-red;
            }
        }

        .error-icon {
            display: none;

            position: absolute;
            top: 50%;
            right: 110px;
            transform: translateY(-50%);
        }

        .submit {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            width: 90px;
            height: 50px;
            outline: none;
            border: none;
            border-radius: 20px;
            background: $G2_red-gradient;

            cursor: pointer;

            &:active {
                background: none;
                background-color: rgb(255, 207, 207);
            }
        }
    }

    .error-message {
        display: none;

        margin-top: 10px;

        font-family: "Josefin Sans", serif;
        font-weight: bold;

        padding-left: 28px;
        font-size: 12px;

        color: $C2_soft-red;
    }
}

@media (max-width: 1180px) {
    .logo-container,
    .coming-soon {
        margin-left: 50px;
        width: 90%;
    }

    .hero {
        width: 85%;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 250px 1fr;
        justify-items: center;
    }

    .logo-container {
        width: 80%;
        margin-top: 0;
        margin-left: 0;
        align-self: center;
    }

    .hero {
        grid-column: 1;
        grid-row: 2 / 3;

        width: 80%;
        height: 100%;
        background: url("../images/hero-mobile.jpg") no-repeat top / cover;

        justify-self: auto;
    }

    .coming-soon {
        width: 80%;
        margin-left: 0;
        margin-top: 50px;
    }

    .coming-soon__title {
        text-align: center;
        font-size: 40px;
        letter-spacing: 10px;
    }

    .coming-soon__description {
        text-align: center;
        font-size: 16px;
    }

    form {
        padding-bottom: 40px;
    }
}

// for small mobile device
@media (max-width: 375px) {
    .logo-container {
        width: 200px;
        margin-left: 40px;
        justify-self: flex-start;
    }

    .hero {
        width: 100%;
    }

    .coming-soon {
        width: 84%;
    }

    .coming-soon__title {
        letter-spacing: 13px;
    }

    .coming-soon__description {
        font-size: 14px;
    }
}

@media (max-height: 645px) {
    .logo-container {
        margin-top: 36px;
    }

    .coming-soon {
        margin-top: 50px;
    }
}
