// Primary
$C1_desaturated-red: hsl(0, 36%, 70%);
$C2_soft-red: hsl(0, 93%, 68%);

// Neutral
$C3_dark-grayish-red: hsl(0, 6%, 24%);

// Gradients
$G1_light-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
);
$G2_red-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: $G1_light-gradient;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.container {
    width: 430px;
    margin-left: 11%;
    margin-top: 70px;
    overflow: auto;
}

.coming-soon {
    margin-top: 120px;
}

.coming-soon__title {
    color: $C3_dark-grayish-red;

    font-family: "Josefin Sans", serif;
    font-weight: 500;
    font-size: 66px;

    text-transform: uppercase;

    letter-spacing: 13px;

    span {
        color: $C1_desaturated-red;
        font-weight: 300;
    }
}

.coming-soon__description {
    margin-top: 20px;

    color: $C1_desaturated-red;
    font-family: "Josefin Sans", serif;

    line-height: 25px;
}

form {
    margin-top: 40px;

    .form-group {
        position: relative;
        width: 100%;
        height: 50px;

        .email {
            width: inherit;
            height: inherit;

            font-family: "Josefin Sans", serif;
            font-size: 16px;

            color: $C3_dark-grayish-red;
            border: thin solid $C1_desaturated-red;
            outline: none;
            border-radius: 20px;

            padding-left: 28px;
            opacity: 0.5;

            &::placeholder {
                color: $C1_desaturated-red;
            }
        }

        .error-icon {
            position: absolute;
            top: 50%;
            right: 110px;
            transform: translateY(-50%);
        }

        .submit {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            width: 90px;
            height: 50px;
            outline: none;
            border: none;
            border-radius: 20px;
            background: $G2_red-gradient;

            cursor: pointer;

            &:focus {
                opacity: 0.5;
            }
        }
    }

    .error-message {
        margin-top: 10px;

        font-family: "Josefin Sans", serif;
        font-weight: bold;

        padding-left: 28px;
        font-size: 12px;

        color: $C2_soft-red;
    }
}

.hero {
    width: min(580px, 42%);
    height: 100%;
    background: url("../images/hero-desktop.jpg") no-repeat center / cover;
}
